@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.info1 {
    display: flex;
}

.activetime {
    font-family: "Inter", sans-serif;
    font-size: 400;
    letter-spacing: 0.3;
}

.countainer {
    display: flex;
    margin: 0 auto;
    width: 83%;
}

.socialsites ul {
    list-style: none;
    display: flex;
    
    gap: 15px;
}

.contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info1 {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    background-color: #F2F2F2;
}

.maininfo {
    margin-bottom: 30px;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maincontacts {
    display: flex;

    gap: 30px;
}

.mail {
    display: flex;
    justify-content: space-around;
    width: 220px;
}

.maincontacts img {
    width: 70px;
    height: 70px;
}

.headertxtbox { 
    position: relative;
    top: 15px;
    display: flex;
    flex-direction: column;
}

.phonenum {
    display: flex;
    justify-content: space-around;
    width: 220px;
}

.maincontacts {
    flex-direction: row;
}

.nav {
    position: absolute;
    left: 10%;
    top: 170px;
    height: 70px;
    background-color: #FFB342;
    width: 83%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countaner ul {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;

    width: 55%;
    display: flex;
    justify-content: space-around;
}

.active {
    color: #FFF;
}

.nav a:not(.active) {
    padding: 10px;
    color: #000;
    transition: all 200ms ease;
}

.nav a:not(.active):hover {
    color: #F2F2F2;
}

.nav button {
    font-family: "Inter", serif;
    font-weight: 400;
    margin-right: 10px;

    color: #FFF;
    background-color: #1C2752;
    width: 250px;
    height: 50px;

    transition: all 200ms ease;
}

.nav button:hover {
    color: #000;
    background-color: #FFF;
    border: 1px solid #1C2752;
}

.bgmainbox {
    display: flex;
    align-items: center;
    height: 700px;
    min-height: 100%;
    background-image: url(../pictures/4d8ed3db0eac90229275906d2e7ee77d.png);
    background-size: 100%;
}

.txtframe1 {
    font-family: "Inter", serif;
    font-weight: 400;

    font-size: 18px;
    color: #FFF;
    width: 600px;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF33;
    align-items: center;
}

.maintxt {
    font-family: "Mulish", serif;
    font-weight: 400;
    letter-spacing: 0.5px;

    color: #FFF;
    font-size: 60px;
    width: 700px;
    line-height: 78px;
}

.mainbox button {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.5;

    width: 230px;
    height: 70px;
    background-color: #FFB342;
}

.mainbox {
    height: 350px;
    display: flex;
    flex-direction: column; 
    gap: 50px;
    justify-content: space-between;
}

.whatwedo {
    margin: 0 auto;
    margin-top: 150px;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 10px;
}

.wahtwefirsttxt {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    color: #1C2752;

    background-color: #F4F4F4;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.whatwedomaindiv {
    display: flex;
    justify-content: space-between;
}

.whatwedotxtbox {
    display: flex;
    flex-direction: column;
    gap: 50px;

    width: 800px;
}

.whatwedoimage {
    box-shadow: 0 0 10px 10px #00000050;
    width: 90%;
}

.whatwedotxtbox h1 {
    font-family: "Mulish", serif;
    font-weight: 400;

    font-size: 45px;
}

.whatwetxtcountainer {
    color: #7E7E7E;
    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 17px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experiencebox {
    background-color: #F4F4F4;
    font-family: "Mulish", serif;
    font-weight: 400;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 200px;
    height: 220px;
}

.whatweexperience {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whatweexperience h1 {
    font-family: "Mulish", serif;
    font-weight: 400;
    color: #FFB342;
    font-size: 80px;
}

.whatweexperience p {
    width: 110px;
    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    text-align: center;
}

.whatweexperience ul {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 17px;
    color: #7E7E7E;

    display: flex;
    flex-direction: column;

    gap: 15px;
}

.mainservices {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 900px;
    background-color: #FFB342;
}

.mainserv {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.whatweoffertxt {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: 15%;
    background-color: #F4F4F4;
    gap: 10px;
}

.mainsrvtxt {
    width: 70%;
    margin: 0 auto;
}

.mainsrvtxt h1 {
    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 45px;
    text-align: center;

    color: #1C2752;
    margin-bottom: 15px;
}

.mainsrvtxt p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;

    color: #1C2752;
}

.mainservbtn {
    display: flex;
    justify-content: space-around;
}

.mainservbtn button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border: 2px solid #1C2752;

    width: 230px;
    padding: 10px;;

    transition: all 200ms ease;
}

.servactive {
    background-color: #FFF;
}

.mianservfirstbox {
    display: flex;
    flex-direction: column;

    gap: 50px;
}

.mainservbtn button:hover {
    background-color: #FFF;
}

/* comercial box */

.commercialwindow {
    box-shadow: 0 0 10px 10px #00000017;
    position: absolute;
    top: 2300px;
    background-color: #F4F4F4;
    width: 1200px;

    display: flex;
    justify-content: space-around;

    gap: 60px;
}

.comercialfirsthalf {
    margin-left: 60px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.comercialimg {
    width: 410px;
    height: 366px;
    margin-right: 60px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.comercialfirsthalf {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.comercialH1txt {
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 260px;
    gap: 10px;
}

.comercialwindowtxtbox {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.comercialwindowtxtbox h1 {
    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 45px;
}

.comercialwindowtxtbox p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;

    width: 510px;
}

.comercialwindowbtn button {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;

    width: 200px;
    height: 60px;
    background-color: #FFB342;
}

/* OurServices */

.ourservbgcolor {
    display: flex;
    width: 100%;
    height: 1400px;

    background-color: #F4F4F4;
}

.ourservicesbox {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    margin-top: 200px;
    gap: 50px;
}

.ourtxts {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    gap: 20px;
}

.ourservfirsttxt {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;

    background-color: #FFF;

    width: 220px;
}

.ourservtxtbox {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.ourservtxtbox h1 {
    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 45px;

    color: #1C2752;
}

.ourservtxtbox p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    color: #7E7E7E;

    width: 820px;
    text-align: center;
}

.ourservecesbtns {
    display: flex;
    flex-wrap: wrap;
    width:  100%;
    justify-content: center;

    gap: 30px;
}

.ourservbtn {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #FFF;
    background-color: #1C2752;
    width: 380px;
    height: 380px;  
}

.ourservinbtn {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    width: 300px;
    gap: 15px;
}

.ourservinbtn h1 {
    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 25px;

    color: #FFB342;
}

.ourservinbtn p {
    width: 300px;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;

    color: #D2D2D2;
}

.ourservinbtn button {
    width: 300px;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    width: 100px;
}

.ourservbtn img {
    width: 48px;
    height: 48px;
}

/* Why Choose Us */

.whychooseus {
    display: flex;
    justify-content: space-between;
}

.whychooseusfirsthalf {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 720px;
    height: 720px;

    background-image: url(../pictures/phonebg.png);
    background-size: 100%;
}

.whychooseussecondhalf {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 23px;
    width: 600px;
    margin-right: 60px;
}

.whychooseusmarklist {
    width: 600px;
}

.whychooseuslist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1C2752DB;
    width: 560px;
    height: 570px;

    scale: 0.8;
}

.whychooseuslist ul {
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.whychooseuslist ul li {
    display: flex;
}

.whychooseuslist ul li h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 24px;

    width: 200px;
    height: 70px;
    background-color: #FFB342;
}

.whychooseuslist ul li p {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 25px;
    color: #FFF;

    height: 70px;
    border: 1px solid #FFF;
    width: 100%;
}

.whychooseeusfirsttxt {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    color: #1C2752;

    width: 200px;
    background-color: #F4F4F4;
}

.whychooseusmaintxtbox {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.whychooseusmaintxtbox h1 {
    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 45px;

    color: #1C2752;
}

.whychooseusmaintxtbox p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    color: #7E7E7E;
}

.whychooseusmarklist {
    display: flex;
    flex-direction: column;
    width: 500px;

    gap: 25px;
}

.mark {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    gap: 20px;
}

.whychooseusmarktxt h1 {
    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 20px;
    color: #1C2752;
    letter-spacing: 0.3;
}

.whychooseusmarktxt p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 17px;
    color: #7E7E7E;
}

/* OurProjects */

.ourproject {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 50px;

    background-color: #1C2752;
    padding-bottom: 100px;
}

.ourprojtxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ourprojtxt h1 {
    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 45px;
    text-align: center;

    color: #FFF;
}

.galerytxt {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 17px;

    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    
    background-color: #F4F4F4;
}

.ourprojimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 30px;
}

.projimagebox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;

    gap: 10px;

    background-color: #F4F4F4;
}

.projimagebox h1 {
    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;

    color: #1C2752;
}

.projimagebox p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 17px;

    color: #7E7E7E;
}

/* Forms */

.Forms {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    gap: 100px;
}

.ourreviews {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #DCDCDC;
}

.formsFirsthalf {
    width: 700px;
    display: flex;
    flex-direction: column;

    gap: 30px;
}

.formsfirsttxt {
    font-family: 'inter';
    font-weight: 400;
    color: #1C2752;

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;

    background-color: #F4F4F4;
}

.formsH1 h1 {
    color: #1C2752;
    font-family: 'Mulish';
    font-size: 45px;
    font-weight: 400;
}

.reviewheader {
    display: flex;
    justify-content: space-between;
}

.Userprofile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

.profileinfo h1 {
    font-family: 'Mulish';
    font-size: 22px;
    color: #1C2752;
}

.profileinfo p {
    font-family: 'inter';
    font-size: 18px;
    color: #7E7E7E;
}

.reviewbox {
    width: 500px;
}

.reviewbox p {
    font-family: 'inter';
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    color: #7E7E7E;
}

.reviewbox span {
    color: #1C2752;
}

.reviewpagesbtn {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.reviewpagesbtn button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #F4F4F4;
    border-radius: 99999px;
    margin-left: 10px;
}

.reviewbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.questionsbg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFB342;
    height: 300px;  
}

.questions {
    display: flex;
    flex-direction: column;
    width: 90%;

    gap: 25px;
}

.questionsmaintxt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 220px;
    background-color: #F4F4F4;
    color: #1C2752;
}

.questiontxtbox {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.questiontxtbox h1 {
    font-family: 'Mulish';
    font-size: 25px;
    color: #1C2752;
}

.questiontxtbox p {
    font-family: 'inter';
    font-size: 18px;
    color: #1C2752;
}

.contactquestionbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.contactquestionbox h1 {
    font-family: 'Mulish';
    font-size: 30px;
    color: #FFF;
}

.line {
    background-color: #DCDCDC;
    width: 600px;
    height: 1px;
}

.formsSecondhalf {
    width: 50%;
}

.foemstxth1 h1 {
    font-family: 'Mulish';
    font-size: 45px;
    color: #1C2752;
}

.Formbox {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #D2D2D2;
}

.Formstxtinput {
    font-family: 'inter';
    font-size: 16px;
    color: #1C2752;
    margin-top: 30px;
}

.Formstxtinput input {
    padding: 15px;
    border: 1px solid #D2D2D2;
    width: 100%;
}

.Fontdiscription {
    font-family: 'inter';
    font-size: 16px;
    color: #1C2752;
    margin-top: 30px;
}

.Fontdiscription input {
    padding: 100px;
    width: 100%;
    border: 1px solid #D2D2D2;  
}

.Formbox button {
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    background-color: #FFB342;
}

/* Prices */

.pricescountainer {
    margin-top: 100px;
    padding: 100px;
}

.compricesbg {
    background-color: #F4F4F4;
}

.pricesfirstbox {
    display: flex;
    justify-content: space-between;

    gap: 20px;
}

.pricestxtfirstbox {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.pricestxtfirstbox h1 {
    width: 60%;
    font-family: 'Mulish';
    font-size: 45px;
    color: #1C2752;
}

.pricesfirsttxt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;

    font-family: 'inter';
    font-size: 17px;
    color: #1C2752;

    background-color: #FFF;
}

.pricessmalltxt {
    width: 30%;
    font-family: 'inter';
    font-size: 17px;
    color: #7E7E7E;
}

/* Price Cards */

.priccard {
    background-color: #FFF;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.firsthalfcardtxt h1 {
    color: #1C2752;
    font-family: 'Mulish';
    font-size: 32px;
}

.pricecardfirstbox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.secondlalfcardtxt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secondlalfcardtxt  p {
    font-family: 'Inter';
    font-size: 15px;
    color: #7E7E7E;
}

.secondlalfcardtxt h1 {
    text-align: center;
    width: 80px;
    font-family: 'Inter';
    font-size: 15px;
    color: #1C2752;
    background-color: #FFB342;
    padding: 1px;
}

.firsthalfcardtxt p {
    color: #1C2752;
    font-family: 'Inter';
    font-size: 20px;
}

.Cardline {
    background-color: #DCDCDC;
    height: 1px;
    width: 100%;
}

.pricecardlist ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pricecardlist ul li {
    display: flex;
    flex-direction: row;
    gap: 5px;

    font-family: 'Inter';
    font-size: 17px;
    color: #7E7E7E;
}

.pricecardlist ul li img {
    width: 16px;
    height: 16px;
}

.pricecardlist button {
    font-family: 'Inter';
    font-size: 20px;
    color: #1C2752;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFB342;
    width: 100%;
    height: 60px;
}

.pricessecondbox {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.pricesthirdbox ul {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.pricesthirdbox ul li {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 600px;
}

.priceslisttxt h1 {
    font-family: 'Mulish';
    font-size: 20px;
    color: #1C2752;
}

.priceslisttxt p {
    font-family: 'Inter';
    font-size: 17px;
    color: #7E7E7E;
}

/* News */

.Newsbg {
    width: 90%;
    margin: 0 auto;
}

.newsfirsttxt {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.newsboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 50px;
    margin-bottom: 100px;
}

.newsbox {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.newsh1 {
    font-family: 'Mulish';
    font-size: 45px;

    color: #1C2752;
}

.newsmaintxt {
    font-family: 'Inter';
    font-size: 17px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;

    background-color: #f2f2f2;
}

.newsbox {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.newsbtns {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.newsbtns button:not(.newssecbtn) {
    font-family: 'Mulish';
    font-size: 17px;
    color: #1C2752;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #FFC368;
}

.newssecbtn {
    font-family: 'Mulish';
    font-size: 17px;
    color: #1C2752;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #FFB342;
}

.newstxt {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.newstxt h1 {
    font-family: 'Mulish';
    font-size: 30px;
    color: #1C2752;
}

.newstxt p {
    font-family: 'Inter';
    font-size: 17px;
    color: #7E7E7E;
}

.viewmorebtn {
    font-family: 'Inter';
    font-size: 17px;
    color: #1C2752;
}

/* Subscribe */

.Subscribebg {
    background-color: #FFB342;
    padding: 100px;
}

.Subscribebox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: 500px;
}

.SubscribeFirsthalf {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.SubscribeFirsthalf h1 {
    color: #1C2752;
    font-family: 'Mulish';
    font-size: 30px;
}

.SubscribeFirsthalf p {
    font-family: 'Inter';
    font-size: 17px;
    color: #1C2752;
    width: 410px;
}

.SubscribeSecondhalf input {
    padding: 10px;
    border: 3px solid #FFF;
    color: #FFF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.SubscribeSecondhalf button {
    padding: 13px;
    background-color: #FFF;
    margin-left: -5px;

    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}



/* Mobile ver */



@media (width < 720px) {
    .nav {
        position: absolute;
        left: 10%;
        top: 320px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #FFB342;
        width: 83%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 10px;
    }

    .nav button {
        font-family: "Inter", serif;
        font-weight: 400;
        margin-right: 0px;
    
        color: #FFF;
        background-color: #1C2752;
        width: 250px;
        height: 50px;
    
        transition: all 200ms ease;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .maininfo {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 400px;

        gap: 10px;
    }

    .maincontacts {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bgmainbox {
        display: flex;  
        height: 500px;
        min-height: 100%;
        background-image: url(../pictures/phonebg.png);
        background-size: 100%;
    }

    .mainbox {
        display: flex;
        align-items: center;
    }
    
    .txtframe1 {
        font-family: "Inter", serif;
        font-weight: 400;
        text-align: center;
    
        font-size: 12px;
        color: #FFF;
        width: 300px;
        display: flex;
        justify-content: space-around;
        background-color: #FFFFFF33;
        align-items: center;
    }
    
    .maintxt {
        font-family: "Mulish", serif;
        font-weight: 400;
        letter-spacing: 0.5px;
        text-align: center;

        color: #FFF;
        font-size: 30px;
        width: 250px;
        line-height: 1.5;
    }

    .bgmainbox .countainer {
        justify-content: center;
        align-items: center;
    }

    .txtframe1 {
        font-family: "Inter", serif;
        font-weight: 400;
    
        font-size: 18px;
        color: #FFF;
        display: flex;
        justify-content: space-around;
        background-color: #FFFFFF33;
        align-items: center;
    }

    .whatweoffertxt {
        margin-top: -500px;
    }

    /* Whatwedobox */

    .whatwedo {
        margin: 0 auto;
        margin-top: 200px;
        margin-bottom: 250px;
        height: 800px;
        display: flex;
        width: 500px;
        justify-content: space-between;
        align-items: center;
        
        gap: 10px;
    }
    
    .wahtwefirsttxt {
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 18px;
        color: #1C2752;
    
        background-color: #F4F4F4;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .whatwedomaindiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .whatwedotxtbox {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;

        text-align: center;
    
        width: 300px;
    }
    
    .whatwedoimage {
        width: 500px;
    }
    
    .whatwedotxtbox h1 {
        font-family: "Mulish", serif;
        font-weight: 400;
    
        font-size: 45px;
    }
    
    .whatwetxtcountainer {
        color: #7E7E7E;
        font-family: "Mulish", serif;
        font-weight: 400;
        font-size: 17px;
    
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .experiencebox {
        background-color: #F4F4F4;
        font-family: "Mulish", serif;
        font-weight: 400;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
        width: 200px;
        height: 220px;
    }
    
    .whatweexperience {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .whatweexperience h1 {
        font-family: "Mulish", serif;
        font-weight: 400;
        color: #FFB342;
        font-size: 80px;
    }
    
    .whatweexperience p {
        width: 110px;
        font-family: "Mulish", serif;
        font-weight: 400;
        font-size: 20px;
        display: flex;
        text-align: center;
    }
    
    .whatweexperience ul {
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 12px;
        color: #7E7E7E;
    
        display: flex;
        flex-direction: column;
    
        gap: 15px;
    }

    .mainsrvtxt {
        width: auto;
        margin: 0 auto;
    }
    
    .mainsrvtxt h1 {
        font-family: "Mulish", serif;
        font-weight: 400;
        font-size: 45px;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .mainsrvtxt p {
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
    }

    .whatweoffertxt {
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    
        width: 50%;
        background-color: #F4F4F4;
        gap: 10px;
    }

    /* Mainservices */
    
    .mainservices {
        height: 900px;
        background-color: #FFB342;
    }
    
    .mainserv {
        width: 600px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .whatweoffertxt {
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    
        width: 50%;
        background-color: #F4F4F4;
        gap: 10px;
    }
    
    .mainsrvtxt {
        width: 70%;
        margin: 0 auto;
    }
    
    .mainsrvtxt h1 {
        font-family: "Mulish", serif;
        font-weight: 400;
        font-size: 37px;
        text-align: center;
    
        color: #1C2752;
        margin-bottom: 15px;
    }
    
    .mainsrvtxt p {
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
    
        color: #1C2752;
    }
    
    .mainservbtn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .mainservbtn button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    
        border: 2px solid #1C2752;
    
        width: 230px;
        padding: 10px;;
    }
    
    .mianservfirstbox {
        display: flex;
        flex-direction: column;
    
        gap: 50px;
    }

    /* comercialbox */

    .countainer {
        display: flex;
        justify-content: center;
    }

    .commercialwindow {
        box-shadow: 0 0 10px 10px #00000017;
        position: absolute;
        top: 3200px;
        background-color: #F4F4F4;
        width: 300px;
        height: auto;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        gap: 20px;
    }
    
    .comercialimg {
        width: 270px;
        height: 270px;
        margin: 0 auto;
    }
    
    .comercialfirsthalf {
        display: flex;
        flex-direction: column;
    
        gap: 20px;
    }
    
    .comercialH1txt {
        background-color: #F4F4F4;
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 200px;
        gap: 10px;
    }
    
    .comercialwindowtxtbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
    
        gap: 20px;
    }
    
    .comercialwindowtxtbox h1 {
        font-family: "Mulish", serif;
        font-weight: 400;
        font-size: 30px;
    }
    
    .comercialwindowtxtbox p {
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
    
        width: 200px;
    }
    
    .comercialwindowbtn button {
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 20px;
    
        width: 200px;
        height: 60px;
        background-color: #FFB342;
    }

        /* OurServices */

    .ourservbgcolor {
        display: flex;
        width: 100%;
        height: 3750px;

        background-color: #F4F4F4;
    }

    .ourservicesbox {
        display: flex;
        flex-direction: column;

        margin: 0 auto;
        margin-top: 1000px;
        gap: 50px;
    }

    .ourtxts {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        gap: 20px;
    }

    .ourservfirsttxt {
        display: flex;
        justify-content: space-around;
        align-items: center;

        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 18px;

        background-color: #FFF;

        width: 220px;
    }

    .ourservtxtbox {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;
    }

    .ourservtxtbox h1 {
        font-family: "Mulish", serif;
        font-weight: 400;
        font-size: 45px;

        color: #1C2752;
    }

    .ourservtxtbox p {
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 18px;
        color: #7E7E7E;

        width: 300px;
        text-align: center;
    }

    .ourservecesbtns {
        display: flex;
        flex-wrap: wrap;

        gap: 30px;
    }

    .ourservbtn {
        display: flex;
        flex-direction: column;
        justify-content: center;

        color: #FFF;
        background-color: #1C2752;
        width: 350px;
        height: 380px;  
    }

    .ourservinbtn {
        display: flex;
        flex-direction: column;

        margin: 0 auto;
        width: 300px;
        gap: 20px;
    }

    .ourservinbtn h1 {
        font-family: "Mulish", serif;
        font-weight: 400;
        font-size: 25px;

        color: #FFB342;
    }

    .ourservinbtn p {
        width: 300px;
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 18px;

        color: #D2D2D2;
    }

    .ourservinbtn button {
        width: 300px;
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 18px;
        width: 100px;
    }

    .ourservbtn img {
        width: 48px;
        height: 48px;
    }

    /* Why Choose Us */

    .whychooseus {
        display: flex;
        flex-direction: column;
    }

    .whychooseusfirsthalf {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 500px;

        background-image: url(../pictures/phonebg.png);
        background-size: 100%;
    }

    .whychooseussecondhalf {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        gap: 23px;
        width: 100%;
        margin-right: 60px;
    }


    .whychooseuslist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: #1C2752DB;
        width: 1000px;
        height: 450px;

        scale: 0.8;
    }

    .whychooseuslist ul {
        display: flex;
        flex-direction: column;

        scale: 0.9;
        gap: 25px;
    }

    .whychooseuslist ul li {
        display: flex;
    }

    .whychooseuslist ul li h1 {
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: "Mulish", serif;
        font-weight: 400;
        font-size: 24px;

        width: 200px;
        height: 70px;
        background-color: #FFB342;
    }

    .whychooseuslist ul li p {
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: "Mulish", serif;
        font-weight: 400;
        font-size: 25px;
        color: #FFF;

        height: 70px;
        border: 1px solid #FFF;
        width: 100%;
    }

    .whychooseeusfirsttxt {
        display: flex;
        justify-content: space-around;
        align-items: center;

        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 18px;
        color: #1C2752;

        width: 200px;
        background-color: #F4F4F4;
    }

    .whychooseusmaintxtbox {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 11px;
    }

    .whychooseusmaintxtbox h1 {
        font-family: "Mulish", serif;
        font-weight: 400;
        font-size: 45px;

        color: #1C2752;
    }

    .whychooseusmaintxtbox p {
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 18px;
        color: #7E7E7E;
    }

    .whychooseusmarklist {
        display: flex;
        flex-direction: column;
        width: 300px;

        gap: 25px;
    }

    .mark {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        gap: 20px;
    }

    .whychooseusmarktxt h1 {
        font-family: "Mulish", serif;
        font-weight: 400;
        font-size: 20px;
        color: #1C2752;
        letter-spacing: 0.3;
    }

    .whychooseusmarktxt p {
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 17px;
        color: #7E7E7E;
    }

    .Forms {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        gap: 100px;
    }

    .formsFirsthalf {
        width: 290px;
        display: flex;
        flex-direction: column;
    
        gap: 30px;
    }
    
    .formsfirsttxt {
        font-family: 'inter';
        font-weight: 400;
        color: #1C2752;
    
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200px;
    
        background-color: #F4F4F4;
    }
    
    .formsH1 h1 {
        color: #1C2752;
        font-family: 'Mulish';
        font-size: 35px;
        font-weight: 400;
    }
    
    .reviewheader {
        display: flex;
        justify-content: space-between;
    }
    
    .Userprofile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 220px;
    }
    
    .profileinfo h1 {
        font-family: 'Mulish';
        font-size: 22px;
        color: #1C2752;
    }
    
    .profileinfo p {
        font-family: 'inter';
        font-size: 18px;
        color: #7E7E7E;
    }
    
    .reviewbox {
        width: 300px;
    }
    
    .reviewbox p {
        font-family: 'inter';
        font-size: 18px;
        font-style: italic;
        font-weight: 700;
        color: #7E7E7E;
    }
    
    .reviewbox span {
        color: #1C2752;
    }
    
    .reviewpagesbtn {
        display: flex;
        justify-content: space-between;
        width: 120px;
    }
    
    .reviewpagesbtn button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        background-color: #F4F4F4;
        border-radius: 99999px;
        margin-left: 10px;
    }
    
    .reviewbox {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .questionsbg {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFB342;
        height: 300px;
        width: 120%;
    }
    
    .questions {
        display: flex;
        flex-direction: column;
        width: 90%;
    
        gap: 25px;
    }
    
    .questionsmaintxt {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 220px;
        background-color: #F4F4F4;
        color: #1C2752;
    }
    
    .questiontxtbox {
        display: flex;
        flex-direction: column;
    
        gap: 15px;
    }
    
    .questiontxtbox h1 {
        font-family: 'Mulish';
        font-size: 25px;
        color: #1C2752;
    }
    
    .questiontxtbox p {
        font-family: 'inter';
        font-size: 18px;
        color: #1C2752;
    }
    
    .contactquestionbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 260px;
    }
    
    .contactquestionbox h1 {
        font-family: 'Mulish';
        font-size: 20px;
        color: #FFF;
    }
    
    .line {
        background-color: #DCDCDC;
        width: 300px;
        height: 1px;
    }
    
    .formsSecondhalf {
        width: 50%;
    }
    
    .foemstxth1 h1 {
        font-family: 'Mulish';
        font-size: 45px;
        color: #1C2752;
    }
    
    .Formbox {
        margin-top: 50px;
        padding: 20px;
        border: 1px solid #D2D2D2;
        width: 350px;
    }
    
    .Formstxtinput {
        font-family: 'inter';
        font-size: 16px;
        color: #1C2752;
        margin-top: 30px;
    }
    
    .Formstxtinput input {
        padding: 15px;
        border: 1px solid #D2D2D2;
        width: 100%;
    }
    
    .Fontdiscription {
        font-family: 'inter';
        font-size: 16px;
        color: #1C2752;
        margin-top: 30px;
    }
    
    .Fontdiscription input {
        padding: 100px;
        width: 100%;
        border: 1px solid #D2D2D2;  
    }
    
    .Formbox button {
        margin-top: 20px;
        padding: 10px;
        width: 200px;
        background-color: #FFB342;
    }

    .ourreviews {
        padding: 30px;
        display: flex;
        flex-direction: column;
        width: 350px;
        gap: 20px;
        border: 1px solid #DCDCDC;
    }

    .pricesfirstbox {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* Prices */

    .pricescountainer {
        margin-top: 100px;
        padding: 10px;
    }

    .compricesbg {
        background-color: #F4F4F4;
    }

    .pricesfirstbox {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 20px;
    }

    .pricestxtfirstbox {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;
    }

    .pricestxtfirstbox h1 {
        width: 80%;
        font-family: 'Mulish';
        font-size: 35px;
        color: #1C2752;
        text-align: center;
    }

    .pricesfirsttxt {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 150px;

        font-family: 'inter';
        font-size: 17px;
        color: #1C2752;

        background-color: #FFF;
    }

    .pricessmalltxt {
        width: 80%;
        font-family: 'inter';
        font-size: 17px;
        color: #7E7E7E;
        text-align: center;
    }

    /* Price Cards */

    .priccard {
        background-color: #FFF;
        width: 350px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .firsthalfcardtxt h1 {
        color: #1C2752;
        font-family: 'Mulish';
        font-size: 32px;
    }

    .pricecardfirstbox {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .secondlalfcardtxt {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .secondlalfcardtxt  p {
        font-family: 'Inter';
        font-size: 15px;
        color: #7E7E7E;
    }

    .secondlalfcardtxt h1 {
        text-align: center;
        width: 80px;
        font-family: 'Inter';
        font-size: 15px;
        color: #1C2752;
        background-color: #FFB342;
        padding: 1px;
    }

    .firsthalfcardtxt p {
        color: #1C2752;
        font-family: 'Inter';
        font-size: 20px;
    }

    .Cardline {
        background-color: #DCDCDC;
        height: 1px;
        width: 100%;
    }

    .pricecardlist ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .pricecardlist ul li {
        display: flex;
        flex-direction: row;
        gap: 5px;

        font-family: 'Inter';
        font-size: 17px;
        color: #7E7E7E;
    }

    .pricecardlist ul li img {
        width: 16px;
        height: 16px;
    }

    .pricecardlist button {
        font-family: 'Inter';
        font-size: 20px;
        color: #1C2752;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFB342;
        width: 100%;
        height: 60px;
    }

    .pricessecondbox {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px;
    }

    .pricesthirdbox {
        display: flex;
        justify-content: center;
    }

    .pricesthirdbox ul {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .pricesthirdbox ul li {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 200px;
    }

    .priceslisttxt h1 {
        font-family: 'Mulish';
        font-size: 20px;
        text-align: center;
        color: #1C2752;
    }

    .priceslisttxt p {
        font-family: 'Inter';
        font-size: 17px;
        color: #7E7E7E;
        text-align: center;
    }

    .Subscribebg {
        background-color: #FFB342;
        padding: 10px;
    }

    .SubscribeFirsthalf h1 {
        color: #1C2752;
        font-family: 'Mulish';
        font-size: 30px;
    }

    .SubscribeFirsthalf p {
        font-family: 'Inter';
        font-size: 17px;
        color: #1C2752;
        width: 310px;
        text-align: center;
        margin: 0 auto;
    }

    .Subscribebox {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
        gap: 20px;
    }
}